<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TutoriasServlet</servlet-name>
        <servlet-class>Controllers.TutoriasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recibeDatos</servlet-name>
        <servlet-class>Controllers.recibeDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>muestraRegistro</servlet-name>
        <servlet-class>Controllers.muestraRegistro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TutoriasServlet</servlet-name>
        <url-pattern>/TutoriasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recibeDatos</servlet-name>
        <url-pattern>/recibeDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>muestraRegistro</servlet-name>
        <url-pattern>/muestraRegistro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
